body{
    margin: 0;
    font-family: 'Arial', sans-serif;
}

.hero{
    display: flex;
    justify-content: center;
    align-items:center;
    text-align: center;  
}

.background {
    position: fixed;
    inset: 0;

    background-image: url("background_img.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    filter: contrast(1.15) saturate(1.1);
    z-index: -2;
}

.background::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.35);
}

.main_heading {
    color: #e50914;
    font-size: 55px;
    letter-spacing: 4px;
    text-transform: uppercase;

    text-shadow:
        0 0 5px #ff2a2a,
        0 0 10px #ff2a2a,
        0 0 20px #e50914,
        0 0 40px #e50914;
    
    margin: 20px;
    margin-bottom: 5px;
}
.small_heading {
    margin: 0;
    font-size: 25px;
    color: #9ca3af;
    letter-spacing: 2px;
}